/* Skills.css */

.skills-container {
    text-align: center;
    padding: 20px;
  }
  
  .animated-heading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(203, 59, 216); /* Set the color */
  }
  
  .animated-subheading {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: rgb(203, 59, 216); /* Set the color */
  }
  
  .animated-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .animated-list li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333; /* Set the color */
  }
  
  .skill-category {
    margin-bottom: 40px;
  }
  